[Unit]
Description=service using a dongle to listen to custom RF devices and forward messages to mqtt
After=multi-user.target

[Service]
Type=simple
ExecStart=python3 /home/pi/raspi/py/nrf_mesh/nrf_mesh.py
Restart=on-abort

[Install]
WantedBy=multi-user.target