:root{
    --sky:#aae2ec;
    --ground:#808080;
}

#viewer {
    width: 100%;
    height: 100%;
    
    background: var(--sky); /* Old browsers */
    background: -moz-linear-gradient(top,  var(--sky) 0%, var(--ground) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  var(--sky) 0%,var(--ground) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  var(--sky) 0%,var(--ground) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--sky)', endColorstr='var(--ground)',GradientType=0 ); /* IE6-9 */
  }
